rest_adresse="http://192.168.1.101:4000/"

#bdd
bdd_path="/home/pi/KartTracker/"

#log
log_output="True"
console_output="True"
log_bdd="False"
log_level=4 #LEVEL_OFF = 0, LEVEL_ALERT = 1, LEVEL_ERROR = 2, LEVEL_INFO = 3, LEVEL_DEBUG = 4

#pin
pin_number_button=13
pin_number_led=26

# recording interval in second
recording_interval=0.1